<!-- We need to create a new view and inside of it we are going to make a form. 
Let's use something Rails provides us that are called 'Form Helpers'. These Form
Helpers are methods you can invoke that write HTML code for us. This also
generates special code that ensures that Rails is secure. -->

<h1>Add a picture</h1>
<%= form_for @picture do |f| %>
	<p>
		<%= f.label :artist %><br>
		<%= f.text_field :artist %>
	</p>
	<p>
		<%= f.label :title %><br>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :url %><br>
		<%= f.text_field :url %>
	</p>
	<p>
		<%= f.submit "Save" %>
	</p>
<% end %>